---
layout: default
title: Blog
---
<h1>Latest Posts</h1>

<h2>Code</h2>

<ul>
  {% for post in site.posts %}
    {% if post.category == "software" %}
      <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Music</h2>
<ul>
  {% for post in site.posts %}
    {% if post.category == "music" %}
      <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Literature</h2>
<ul>
  {% for post in site.posts %}
    {% if post.category == "literature" %}
      <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>
